@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ GLOBAL MOBILE FIX */
html,
body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  @apply text-dark;
}
